html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #13214e; /* Dark blue background */
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.content-container {
  display: flex;
  margin-top: 50px; /* Give space for the navbar */
  height: calc(
    100% - 50px
  ); /* Adjust the height to fill the rest of the screen */
}

.main-container {
  width: 75%; /* Main container takes 75% of the content container width */
  height: 100%;
}

.left-box {
  width: 100%;
  height: 100%;
}

.side-container {
  width: 25%; /* Side container takes the remaining 25% of the content container width */
  height: 100%;
  background-color: #f2f2f2; /* Light grey background for the side container */
  display: flex;
  flex-direction: column;
}

.right-box {
  flex-grow: 1; /* Allow right box to fill the available vertical space */
  margin: 10px;
  padding: 10px;
  background-color: #ffffff; /* White background for the right box */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for some depth */
}

/* Additional custom styles */
.custom-map-control-button {
  /* ... */
}
